{% block choice_widget_expanded %}
    <div {{ block('widget_container_attributes') }} class="row">
        {% set type = 'hidden' %}
        {% for child in form %}
        <div class="col-xs-3">
        <a href="#" class="thumbnail">
            <img data-value="child.vars.value" src="{{ child.vars['attr']['data'].image }}" />
        </a>
        </div>
        {% endfor %}

        <input type="{{ type }}" {{ block('widget_attributes') }}/>
    </div>
{% endblock choice_widget_expanded %}